node_modules
bower_components
.sass-cache
unused-because-wordpress.js*
.wp-svn
.DS_Store
*.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/.DS_Store
.vscode
.idea
dotfiles/
