$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$color-light: #fff;
$color-dark: #000;
$color-primary: #e0e2e3;
$color-secondary: #c4c4c4;

.gallerya {

  &--slider,
  &--grid {

    > ul {

      &:after {
        content: 'flickity';
        display: none;
      }
    }
  }

  &--slider {
    margin-top: 20px;
    margin-bottom: 40px;

    @media screen and (min-width: $screen-sm-min) {
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 75px;
      margin-left: auto;
    }

    clear: both;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .gallerya__image {
      margin-bottom: 30px;

      @media screen and (min-width: $screen-sm-min) {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .gallerya--slider__nav {

      .flickity-prev-next-button {
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);

        &.previous {
          left: 4px;
        }

        &.next {
          right: 4px;
        }

        &[disabled] {
          opacity: .5;
        }
      }

      li {
        width: auto;
        padding: 0 5px;
      }

      .gallerya__image {
        width: 100%;
        margin: initial;
        display: block;
        max-height: 90px;

        img {
          width: auto;
          display: block;
          max-width: none;
          max-height: inherit;
        }
      }
    }
  }

  &--grid {
    @extend .gallerya--slider;
    @media screen and (min-width: $screen-sm-min) {
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: -20px;

        &:after {
          content: '';
        }

        li {
          list-style: inherit;
          flex-basis: calc(100%/2 - 20px);
          margin-left: 20px;
          transform: none;
        }
      }

      .gallerya__image {
        margin: 0;
        margin-bottom: 20px;
        overflow: hidden;
        width: auto;

        figcaption {
          transform: translateY(100%);
          transition: all .2s ease-out;
        }

        &:hover {
          figcaption {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__image {
    position: relative;

    a {
      display: block;
      text-align: center;
    }

    img {
      width: auto;
      max-height: 645px;
      vertical-align: middle;
    }

    figcaption {
      width: 100%;
      display: block;
      padding: 15px;
      color: $color-secondary;
      font-size: 14px;
      line-height: 1.4;
      background: $color-light;

      @media screen and (min-width: $screen-sm-min) {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10% 15px 15px;
        background: linear-gradient(to top, $color-dark 0%, transparent 100%);
        color: $color-primary;
      }
    }
  }

  &__image-group {
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-5px);
    @media screen and (min-width: $screen-sm-min) {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    .gallerya__image {
      margin: 0;
      width: auto;
      flex: 1 0 30%;
      margin-bottom: 5px;
      padding-left: 5px;
      max-width: calc(100% / 2);
      @media screen and (min-width: $screen-sm-min) {
        max-width: calc(100% / 3);
      }
    }
  }

  .flickity-prev-next-button {
    top: auto;
    width: 28px;
    height: 28px;
    @media screen and (min-width: $screen-sm-min) {
      top: 50%;
    }
  }

  .flickity-page-dots,
  .flickity-prev-next-button {
    margin: 0;
    padding: 0;
    outline: none;
  }

  .flickity-prev-next-button,
  .flickity-page-dots .dot {
    background: $color-primary;

    &:hover {
      background: $color-secondary;
    }
  }
}

.lg-outer .lg-item {
  background-image: url("../images/loading.gif");
}

.is-currently-selected {
  .gallerya__image {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid $color-primary;
    }
  }
}
